<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Tab name here</title>
        <meta name="description" content=" web site's main name with description">
        <meta name="keywords" content=" in searching platform we should put here keywords that they separate each other curly">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style1.css">
    </head>
    <body>
        <header id="top" class="row">
            <div id="photo" class="col-3">
                photo here
            </div>
            <div id="social" class="col-9">
                social media links with logo here
            </div>

        </header>
        <nav id="menu" class="row">
            <div id="mainmenu" class="col-12"> 
                mainmenu here

            </div>

        </nav>
        <div id="center" class="row">
            <section id="content" class="col-8">
                content here
            </section>
            <aside id="yanmenu" class="col-4">
                yanmenu here
            </aside> 
        </div>
        <footer id="bottom" class="row">
            <div id="bottommenu" class="col-12">
                bottom menu here
            </div>
        </footer>
    </body>

</html>