/*Boxes have constant width*/
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* Boxes width*/
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

/* column yaslamak */
[class*="col-"]{
    float: left;
    padding: 15px;
    border: 1px solid red;
    background-color: beige;
    border-radius: 8px;
}

/* 768px den küçük ekranlarda kutu genişliği */
@media screen and (max-width: 768px) {
    [class*="col-"]{width: 100%;}
}

/* rows */
.row{
    border:cornflowerblue solid 2px;
    background-color: cornflowerblue;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

/* satırların yan yana gelmesi */

.row::after{
    content: "";
    clear:both;
    display: table;
}

/* recursive image */

img{
    width: 100%;
    height: auto;
}

/* row heights*/
#top{height: 100px ;}
#menu{height: 80px;}
#center{height: 400px;}
#bottom{height: 80px;}

